@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

* {
	font-family: 'Outfit', sans-serif;
}

body {
	background-color: #FBEEC1;
	margin: 0;
}

.container {
	display: flex;
	justify-content: center;
	min-height: 100vh;
	align-items: center;
}

.button {
	position:relative;
	display: flex;
	align-items: end;
	justify-content: center;

}

.button .top{
	width: 300px;
	height: 100px;
	border-radius: 50%;
	background: #F47B7C;
	position: absolute;
	margin-bottom: 0px;
	transition: margin-bottom 0.05s;

}

.button .middle{
	width: 300px;
	height: 50px;
	position: absolute;
	background: #F26365;
	transition: height 0.05s;
}

.button .bottom {
	width: 300px;
	height: 100px;
	background: #F26365;
	position: absolute;
	border-radius: 50%;
	margin-bottom: -50px;
}
